footer {
  background-color: var(--color-fifth-blue);
  color: aliceblue;
}

/* SOCIAL-MEDIA */

.contact {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2em;
}

.contact-menu {
  position: relative;
  bottom: .3em;
}

.fa-solid {
  padding-right: .3em;
}

.fa-brands {
  padding-right: .3em;
}

.contact-menu li a {
  line-height: 2em;
  color: aliceblue;
}

.contact-menu a:hover,
.contact-menu a:active {
  color: var(--color-first-blue);
}

.contact-menu a::after {
  display:block;
  content: '';
  border-bottom: solid 2px black;  
  transform: scaleX(0);  
  transform-origin:  0% 100%;
  transition: transform 500ms ease-in-out;
}

.contact-menu a:hover:after { transform: scaleX(1); }

 .contact-menu a::before {
  display:block;
  content: '';
  border-top: solid 2px black;  
  transform: scaleX(0);  
  transform-origin:  100% 0%;
  transition: transform 500ms ease-in-out;
}

 .contact-menu a:hover::before { transform: scaleX(1);}

/*FORM*/

form {
  width: 40%;
}

input {
  width: 100%;
  height: 2em;
  margin-bottom: 2em;
  border-radius: .5rem;
}

textarea {
  width: 100%;
  height: 10em;
  border-radius: .5em;
}

button {
  display: block;
  margin-top: 2em;
  padding: 0.5em 4em;
  cursor: pointer;
}